<%- include("./partials/header.ejs") %>
    <div class = "contactPath">
        <p class = "contactDescription">For source code and to follow me on Github</p>
        <div class = "centered">
            <a href = "https://github.com/burakorkmaz/animeFinder" target ="_blank"><img src = "./images/github.svg" class = "github"></a>
        </div>
        <p class = "contactDescription" style = "padding-bottom: 0vh !important;">To mail me</p>
        <div class = "centered">
            <a href = "mailto: kkorkmazburakk@gmail.com"><img src = "./images/mail.svg" class = "github"></a>
        </div>
    </div>

<%- include("./partials/footer.ejs") %>
</body>

</html>